.header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--appBrown);
  border-bottom: solid 2px gray;  
  z-index: 3;
}

.title {
  width: 30%;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  color: white;  
}

.title > h1 {
  font-size: 20px;
}

.logo {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
}

.options {
  width: 70%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: flex-end;
  gap: 15px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border: solid 2px var(--appBlack);
  border-radius: 50px;
  text-decoration: none;
}

.option:hover { background-color: var(--appVeige);}
.option:active { text-decoration: none; color:var(--appBlack); }
.option:visited { text-decoration: none; color: var(--appBlack); }
.option:focus { text-decoration: none; background-color:var(--appVeige); } 

@media screen and (max-width: 700px) {
  .header {
    padding: 5px 15px;
  }

  .title > h1 {
    display: none;
  }

  .options {
    gap: 5px;
  }

  .option {
    height: 30px;
    width: 120px;
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    width: 20%;
  }

  .options {
    width: 80%;
  }
}

