/* .container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  flex: 1;
  border: solid 1px gray;
  border-radius: 15px; 
  box-shadow: 10px 5px 5px gray; 
  background-color: var(--appWhite);
} */

.container{
  width: 120%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;  
  margin: 3px 0px;
}

.textButtonContainer {
  gap: 10px;
  display: flex;
}

.buttondetail {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--appBrown);
  color: var(--appBlack);
  border: 1px solid var(--appBlack);
  border-radius: 50px;
  cursor: pointer;
}

.icondetail {
  color: var(--appBlack);
  height: 20px;
  width: 20px;
}

.buttondetail:hover {
  background-color:  #d7c0ae7b;;
  color: var(--appRed);
}

.text {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;  
}

.title{
  font-size: 16px;
  font-weight: 400;  
  text-decoration: none;
  color: var(--appBlack);
}

.title:hover {color: var(--appRed);}
.option:active, 
.option:visited, 
.option:focus { text-decoration: none; color:var(--appBlack); } 

.year{
  font-size: 20px;
}

.button {
  height: 30px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--appBlack);
  color: var(--appWhite);
  /* border: 1px solid var(--appBlack); */
  border-radius: 5px;
  cursor: pointer;
  gap: 3px;
}

.icon {
  color: var(--appWhite);
  height: 30px;
  width: 30px;
}

.button:hover {
  background-color:  gray;
}

@media screen and (max-width: 600px) {


  .button {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;  
  }

}