.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;  
  margin: 3px 0px;
}

.textButtonContainer {
  height: fit-content;
  width: 100%;
  gap: 10px;
  display: flex;
}

.buttondetail {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--appBrown);
  color: var(--appBlack);
  border: 1px solid var(--appBlack);
  border-radius: 50px;
  cursor: pointer;
}

.icondetail {
  color: var(--appBlack);
  height: 20px;
  width: 20px;
}

.buttondetail:hover {
  background-color:  #d7c0ae7b;;
  color: var(--appRed);
}

.text {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;  
}

.title{
  font-size: 16px;
  font-weight: 400;  
  text-decoration: none;
  color: var(--appBlack);
}

.title:hover {color: var(--appRed);}
.option:active, 
.option:visited, 
.option:focus { text-decoration: none; color:var(--appBlack); } 

.year{
  font-size: 20px;
}

.button {
  height: fit-content;
  width: fit-content;
} 

.icon {
  height: 30px;
  width: 30px;
  background-color: var(--appWhite);
  color: var(--appRed);
  border: solid 3px var(--appRed);
  border-radius: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.button:hover {
  background-color:  gray;
}

@media screen and (max-width: 700px) {
  .container{
    width: 100%;
    gap: 5px;  
    margin: 0.5px 0px;
  }

  .title{
    font-size: 14px;
    font-weight: 400;  
    text-decoration: none;
    color: var(--appBlack);
  }

  .buttondetail {
    display: none;
  }

  .textButtonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .text {
    display: flex;
    justify-content: space-between;
  }

  .icon {
    height: 25px;
    width: 25px;
  }

  .button {
    height: 25px;
    width: 25px;
  }
}

@media screen and (max-width: 400px) {
  .title{
    font-size: 12px;
  }

  .text > p {
    font-size: 13px;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .button {
    height: 22px;
    width: 22px;
  }
}