.container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  flex: 1;
  border: solid 1px gray;
  border-radius: 15px; 
  box-shadow: 10px 5px 5px gray; 
  background-color: var(--appWhite);
  margin: 20px;
}

.leftContainer {  
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.title {
  font-size: 30px;
  text-align: center;
}

.actorsContainer,
.directorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px; 
  text-align: center;
}

.actorsContainer > h3,
.directorContainer > h3{
  font-weight: bold;
}

.year {
  font-size: 20px;
  font-weight: bold;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  border: 0;
  background-color: var(--appRed);
  color: white;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}

.rightContainer {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.notfound {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .container {
    width: 90%;
    box-shadow: 5px 5px 5px gray; 
    margin: 7px;
  }

  .leftContainer {  
    height: 100%;
    width: 40%;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
  }

  .actorsContainer > h3 {
    font-size: 16px;
    font-weight: 600;
  }

  .actorsContainer > p {
    font-size: 14px;
    font-weight: 500;
  }

  .directorContainer > h3 {
    font-size: 16px;
    font-weight: 600;
  }

  .directorContainer > p {
    font-size: 14px;
    font-weight: 500;
  }


  .rightContainer {
    height: 100%;
    width: 60%;
  }

  .img {
    height: 80%;
    width: 80%;
  }

  .notfound {
    height: 100%;
    width: 100%;
  }

  .year {
    font-size: 18px;
    font-weight: 600;
  }

  .button {
    width: 120px;
    height: 28px;
    font-size: 14px;
    font-weight: 600;
  }
}

@media screen and (max-width: 400px) {
  .container {
    height: 90%;
    width: 95%;
    flex-direction: column;
    box-shadow: 5px 5px 5px gray; 
    margin: 7px;
  }


  .leftContainer {  
    height: 100%;
    width: 100%;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
  }

  .actorsContainer > h3 {
    font-size: 14px;
    font-weight: 500;
  }

  .actorsContainer > p {
    font-size: 12px;
    font-weight: 400;
  }

  .directorContainer > h3 {
    font-size: 14px;
    font-weight: 500;
  }

  .directorContainer > p {
    font-size: 12px;
    font-weight: 400;
  }


  .rightContainer {
    height: 100%;
    width: 100%;
  }

  .img {
    height: 95%;
    width: 90%;
  }

  .notfound {
    height: 100%;
    width: 95%;
  }

  .year {
    font-size: 16px;
    font-weight: 500;
  }

  .button {
    width: 120px;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
  }
}