.container {
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  flex: 1;
  border: solid 1px gray;
  border-radius: 15px; 
  box-shadow: 10px 5px 5px gray; 
  background-color: var(--appWhite);
  margin: 10px;
  position: relative;
}

.leftContainer {  
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.787);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

.title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.actorsContainer,
.directorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px; 
  font-weight: 400;
  text-align: center;
}

.actorsContainer > h3,
.directorContainer > h3{
  font-size: 16px;
  font-weight: 500;
}

.year {
  font-size: 16px;
  font-weight: 500;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50px;
  border: 0;
  background-color: var(--appRed);
  color: white;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}

.rightContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--appBlack);  
  border-radius: 15px;
  position: relative;
  z-index: 0;
} 

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.notfound {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 20px;
  font-weight: 700;
  color: var(--appWhite);
}

@media screen and (max-width: 700px) {
  .container {
    height: 80%;
    width: 80%;
    box-shadow: 5px 5px 5px gray; 
    margin: 7px;
    position: relative;
  }

  .title {
    font-size: 18px;
    font-weight: 600;
  }

  .actorsContainer > h3 {
    font-size: 14px;
    font-weight: 600;
  }

  .actorsContainer > p {
    font-size: 14px;
    font-weight: 500;
  }

  .directorContainer > h3 {
    font-size: 14px;
    font-weight: 600;
  }

  .directorContainer > p {
    font-size: 14px;
    font-weight: 500;
  }

  .year {
    font-size: 16px;
    font-weight: 600;
  }

  .button {
    width: 120px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
  }

  .notfound {
    font-size: 18px;
    font-weight: 600;
  }
}

@media screen and (max-width: 400px) {
 .container {
    height: 100%;
    width: 90%;
  }

  .title {
    font-size: 16px;
    font-weight: 500;
  }

  .actorsContainer > h3,
  .directorContainer > h3,
  .year {
    font-size: 14px;
    font-weight: 500;
  }

  .actorsContainer > p,
  .directorContainer > p {
    font-size: 12px;
    font-weight: 400;
  }

  .button {
    width: 100px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
  }

  .notfound {
    font-size: 16px;
    font-weight: 500;
  } 
}
