.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.title {
  height: 80px;
  width: 100%;
  text-align: center;
}

.title > h3 {
  font-size: 50px;
  font-weight: 700;
}

.body {
  height: 150px;
  width: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hi {
  font-size: 30px;
  text-align: center;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border: solid 2px var(--appRed);
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 20px;
  color: var(--appRed);
  background-color: var(--appWhite);
}

.option:hover { background-color: var(--appVeige);}
.option:active { text-decoration: none; color:var(--appRed); }

.option:visited { text-decoration: none; color: var(--appRed); }
.option:focus { text-decoration: none; color:var(--appRed); } 

@media screen and (max-width: 700px) {
  .title {
    height: 45px;
    width: 100%;
    text-align: center;
  }

  .title > h3 {
    font-size: 40px;
    font-weight: 700;
  }

  .hi {
    font-size: 20px;
  }

  .option {
    font-size: 14px;
    font-weight: 500;    
  }
}

@media screen and (max-width: 400px) {
  .title {
    height: 30px;
  }

  .title > h3 {
    font-size: 25px;
  }
  
  .hi {
    font-size: 16px;
  }

  .option {
    font-size: 12px;
    font-weight: 400; 
    padding: 5px 10px;   
  }
}
